/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/06/2017, 17:59:15
    Author     : Esley
*/


#cabecalho {
    
    border: 1px solid black;
    height: 100px;
    width: 100%;
    text-align: left;
    background-color: gainsboro;
    border-collapse: 10px;
    padding-left: 15px;
    padding-top: 5px;    
    
}

#menu {
    margin-left: auto;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    height: 40px;
    width: 100%;
    border-collapse: 10px;
    
    
}

#conteudo {
    
    border: 1px solid black;
    height: auto;
    min-height: 600px;
    width: 100%;
    border-collapse: 10px;
    padding-top: 20px;
    
}

#rodape {
    
    border: 1px solid black;
    height: 50px;
    width: 100%;
    background-color: gainsboro;
    border-collapse: 10px;
}



